* {
  @include box-sizing;
  line-height: 1.5;
}

html {
  color: $default-color;
  background-color: $background-color;
}

a {
  color: var(--link-color);
}

html {
  font-family: $serif-primary;
  font-size: 14px;
  overflow-y: scroll;

  @media (min-width: 600px) {
    font-size: 16px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $default-shade;
  font-family: $sans-serif;
  line-height: normal;
}

a {
  text-decoration: none;
}

blockquote {
  border-left: 0.25rem solid $grey;
  color: $blockquote-color;
  margin: 0.8rem 0;
  padding: 0.5rem 1rem;

  p:last-child {
    margin-bottom: 0;
  }

  @media (min-width: 600px) {
    padding: 0 5rem 0 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  max-width: 100%;
}

table {
  margin: 0 auto;
  color: $default-shade;
  border: 1px solid $grey;
  font-size: 12pt;
  border-collapse: collapse;
}

table thead th,
table tfoot th {
  color: $default-shade;
  background: rgba(0, 0, 0, 0.2);
}

table caption {
  padding: 0.5em;
}

table th,
table td {
  padding: 0.5em;
  border: 1px solid $grey;
}
