@mixin dark-theme {
  .notfound {
    &-line {
      border-top: 0.4rem solid $dark-default-shade;
    }
  }

  html,
  body {
    color: $dark-default-color;
  }

  html {
    font-family: $dark-serif-primary;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $dark-default-shade;
    font-family: $dark-sans-serif;
  }

  a {
    color: $dark-blue;
  }

  blockquote {
    border-left: 0.25rem solid $dark-grey-2;
    color: $dark-grey-1;
  }

  .catalogue {
    &-item {
      border-bottom: 1px solid $dark-grey-2;
      color: $dark-default-color;
    }

    &-pinned {
      color: $dark-default-tint;
    }

    &-time {
      color: $dark-default-tint;
    }

    &-title {
      color: $dark-default-shade;
    }

    &-line {
      border-top: 0.2rem solid $dark-default-shade;
    }
  }

  .highlight {
    background-color: $dark-grey-3;

    .lineno {
      color: $dark-default-tint;
    }
  }

  .nav {
    box-shadow: 0 2px 2px -2px $dark-shadow-color;

    &-title {
      color: $dark-default-color;
    }

    li {
      color: $dark-default-color;

      a {
        color: $dark-default-color;
      }
    }

    footer {
      font-family: $dark-serif-secondary;

      span {
        color: $dark-default-color;
      }
    }

    .pagination {
      font-family: $dark-serif-secondary;

      .top {
        color: $dark-default-color;
      }

      .arrow {
        color: $dark-default-color;
      }
    }

    .post {
      &-info {
        color: $dark-default-tint;
      }

      &-title {
        color: $dark-default-shade;
      }

      &-line {
        border-top: 0.4rem solid $dark-default-shade;
      }

      img + em {
        color: $dark-default-tint;
      }
    }

    .tags {
      &-header {
        &-title {
          color: $dark-default-shade;
        }

        &-line {
          border-top: 0.4rem solid $dark-default-shade;
        }
      }

      &-clouds {
        a {
          background: rgba(0, 0, 0, 0.05);
          color: $dark-default-color;

          &:hover,
          &:active {
            background: rgba(0, 0, 0, 0.1);
          }
        }
      }

      &-item {
        &-label {
          a {
            color: $dark-default-color;
          }
        }
      }

      &-post {
        &-title {
          color: $dark-default-color;
        }

        &-line {
          border-top: 0.1rem solid $dark-default-shade;
        }

        &-meta {
          color: $dark-default-tint;
        }

        .tags-post-meta {
          color: $dark-default-shade;
        }
      }
    }
  }
}
